@{
    ViewBag.Title = "Index";
}


<section id="schools" class="p-0 mt-4 mb-4 pb-2">
    <div class="pt-1"></div>
    <div class="image-bg pt-5 mt-5">
        <p class="text-center text-white display-4 col-8 offset-2 pt-5" style="font-size:220%;">
            <strong style="text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);">
                <i class="fa fa-recycle fa-4x" aria-hidden="true"></i>
                <br>
                Give back to earth...
            </strong>
        </p>
        <div class="row">
            <div class="col-sm-4 offset-sm-4 col-md-4 text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-light">Sing up</button>
                    <button type="button" class="btn btn-lg btn-outline-light">Schools matches</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-center text-dark h1 pt-5"><strong>Schools</strong></p>
        <hr style="width: 400px;" class="pb-4" />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 class="pb-4">An important for better life ...</h3>
                <p>
                    It is very important for children to learn to take care of nature from recycling when they are young
                    way down to the bottom of the page… and there it is, in the website footer. The link she was looking for!
                </p>
                <p>
                    Vivian visits a website…but she doesn’t see what she’s looking for… she scrolls down a bit…
                    but she still doesn’t find it… scrolls a bit more… still not there… then she goes all the
                    way down to the bottom of the page… and there it is, in the website footer. The link she was looking for!
                </p>
                <ul>
                    <li>Recycle 1 bottle for today</li>
                    <li>Recycle 1 battery for today</li>
                    <li>Recycle 1 broken glass for today</li>
                </ul>
                <button class="btn btn-outline-success btn-lg">Learn more</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 hovering-black p-0" style="padding-bottom: 20px;">
                <img src="../imgs/kids.png" class="img-fluid hovering-black">
            </div>
        </div>
    </div>
</section>

<section id="blockquote-info" class="btn-dark p-4 text-center">
    <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</section>

<section id="informations" class="p-2 mt-5 mb-4 pb-2 pt-1">
    <div class="container">
        <p class="text-center text-dark h1"><strong>The most enviromental friendly schools</strong></p>
        <hr style="width: 400px;" class="pb-4" />
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 hovering-lite">
                <div class="card-deck">
                    <div class="card ">
                        <img class="card-img-top" src="https://dummyimage.com/100x70/000/fff" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <button class="btn btn-sm btn-success btn-block">View</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 hovering-lite">
                <div class="card-deck">
                    <div class="card ">
                        <img class="card-img-top" src="https://dummyimage.com/100x70/000/fff" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <button class="btn btn-sm btn-success btn-block">Submit</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 hovering-lite">
                <div class="card-deck">
                    <div class="card ">
                        <img class="card-img-top" src="https://dummyimage.com/100x70/000/fff" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <button class="btn btn-sm btn-success btn-block">Submit</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 hovering-lite">
                <div class="card-deck">
                    <div class="card ">
                        <img class="card-img-top" src="https://dummyimage.com/100x70/000/fff" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <button class="btn btn-sm btn-success btn-block">Submit</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="donations" class="bg-dark p-5">
    <div class="pt-4"></div>
    <div class="container">
        <p class="text-center text-light h1"><strong>Supoporters</strong></p>
        <hr style="width: 400px;" class="pb-4" />
        <div class="row">
            <div class="col-sm-6 col-md-4 pt-2 col-lg-2 hovering">
                <img src="../imgs/s1.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-sm-6 col-md-4 pt-2 col-lg-2 hovering">
                <img src="../imgs/s2.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-sm-6 col-md-4 pt-2 col-lg-2 hovering">
                <img src="../imgs/s3.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-sm-6 col-md-4 pt-2 col-lg-2 hovering">
                <img src="../imgs/s4.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-sm-6 col-md-4 pt-2 col-lg-2 hovering">
                <img src="../imgs/s5.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-sm-6 col-md-4 pt-2 col-lg-2 hovering">
                <img src="../imgs/s7.png" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
    <div class="pb-4"></div>
</section>

<section id="contact">
    <div class="container-fluid" style="width: 100%; padding: 0px; margin: 0px;">
        <div class="image-bg-contact">
            <div class="row">
                <div class="container">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p class="text-center text-white h1 col-8 offset-2 pt-5">Contact</p>
                        <div class="card p-4">
                            <form method="" action="">
                                <div class="form-group">
                                    <label for="InputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="message">Password</label>
                                    <textarea class="form-control" placeholder="Insert message ..." name="message" id="message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

